{% extends 'base.html' %}

{% block title %}سایت شخصی مهدی{% endblock %}

{% block content %}

<div style="text-align:center;">

{% if user.is_authenticated %}
<img src="{{ user.profile.image.url }}" class="profile-img" alt="پروفایل">
{% else %}
{% load static %}
<img src="{% static 'images/python.jpg' %}" class="profile-img" alt="پروفایل">
{% endif %}

<h1>سلام، من مهدی خیری بیرق هستم</h1>

<h2>{{ test_message }}</h2>

<p>🚀 اولین سایت واقعی من با Django</p>

<p>
<a class="btn" href="/shop/">ورود به فروشگاه</a>
</p>

<hr>

<h3>مهارت‌های من</h3>

<p>🐍 Python</p>

<h3>خدمات من</h3>

<p>✔ طراحی سایت با Django</p>
<p>✔ ساخت فروشگاه اینترنتی</p>
<p>✔ طراحی سایت شخصی</p>

<h3>درباره من</h3>

<p>
من مهدی خیری بیرق هستم و طراحی سایت با Django را در ترموکس انجام می‌دهم.
خوشحالم که از سایت من دیدن می‌کنید.
</p>

<p>
<a class="btn" href="https://wa.me/989148412419" target="_blank">واتساپ</a>
</p>

</div>

{% endblock %}
