{% extends 'base.html' %}

{% load static %}

{% block title %}سایت شخصی مهدی{% endblock %}

{% block content %}

<div style="text-align:center;">
    {% load static %}
    <img src="{% static 'images/logo.png' %}?v=11" class="profile-img" alt="Mehdi Khairi Bairagh">
    
    <h1 style="font-size:40px; margin-top:20px;">
    Mehdi Khairi Bairagh
</h1>

<h2 style="font-size:24px; color:#0d6efd;">
    Python & Django Web Developer
</h2>

</div>

<p>🚀 اولین سایت واقعی من با Django</p>

<p>
<a class="btn" href="/shop/">ورود به فروشگاه</a>
</p>

<hr>

<h3>مهارت‌های من</h3>

<p>🐍 Python</p>

<h3>خدمات من</h3>

<p>✔ طراحی سایت با Django</p>
<p>✔ ساخت فروشگاه اینترنتی</p>
<p>✔ طراحی سایت شخصی</p>

<h3>درباره من</h3>

<p>
من مهدی خیری بیرق هستم و طراحی سایت با Django را در ترموکس انجام می‌دهم.
خوشحالم که از سایت من دیدن می‌کنید.
</p>

<p>

<div style="
margin-top:30px;
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
max-width:260px;
margin-left:auto;
margin-right:auto;
">

<a href="https://wa.me/989148412419" target="_blank" style="display:block;text-align:center;background:#25D366;color:white;padding:12px;border-radius:30px;text-decoration:none;">📱واتساپ</a>

<a href="https://t.me/A12345611224" target="_blank" style="display:block;text-align:center;background:#0088cc;color:white;padding:12px;border-radius:30px;text-decoration:none;">✈️ تلگرام</a>

<a href="https://ble.ir/ABc123" target="_blank" style="display:block;text-align:center;background:#1E88E5;color:white;padding:12px;border-radius:30px;text-decoration:none;">💬 بله</a>

<a href="https://rubika.ir/1m2m3k4g"
   target="_blank"
   style="display:block;text-align:center;background:#7B1FA2;color:white;padding:12px;border-radius:30px;text-decoration:none;">
   💎 روبیکا
</a>

</div>

{% endblock %}
