<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>سفارش‌های من</title>
</head>
<body>

<h1>سفارش‌های من</h1>

{% if orders %}
    <ul>
    {% for order in orders %}
       <li>
    <a href="/orders/{{ order.id }}/">
        سفارش شماره {{ order.id }}
    </a>
    - وضعیت: {{ order.get_status_display }}
    - تاریخ: {{ order.created_at }}
</li>
    {% endfor %}
    </ul>
{% else %}
    <p>هنوز سفارشی ثبت نشده است.</p>
{% endif %}

<a href="/shop/">بازگشت به فروشگاه</a>

</body>
</html>
